build/
buildenv/**/pkg/
buildenv/**/src/
buildenv/**/*.log
buildenv/**/*.log.*
buildenv/**/*.sig
buildenv/**/*.tar.xz
buildenv/**/*.tar.zst
buildenv/**/*.zip
qemu-7.2.0/
qemu-7.2.0.tar.xz
qemu-bin
virgil3d/MINGW-packages/pkg/
virgil3d/MINGW-packages/src/
virgil3d/MINGW-packages/*.tar.bz2
virgil3d/MINGW-packages/*.tar.zst
wrappers/**/*.a
wrappers/**/*.dxe
wrappers/**/*.map
wrappers/**/*.o
wrappers/3dfx/ovl/stamp.h